
.grid_cabecera
{
    width: 100%;
    color: black !important;

}

.grid_cabecera_reserva
{
    background-color: rgb(159, 169, 255);
}

.grid_cabecera_prereserva
{
    background-color: rgb(252, 252, 142);

}


.centradovertical
{
    align-items: center !important;
    color: black !important;
}

.ancho_100
{
    width: 100%;
}

.input_numero_dias
{

    height: 50px !important;
    width: 100px !important;
    margin-top: 1px !important;
    background-color: transparent;

    font-size: 20px !important;
    font-weight: bold !important;
    text-align: center !important;
}

.boton_ligthbox
{
    font-size: 20px !important;
    font-weight: 900 !important;
    border-radius: 10px !important;
    text-transform: uppercase !important;
    color: #e6e6e6 !important;
    

}

.boton_mas_lightbox
{
    
    background-color: rgb(58,114,2) !important;
    
}

.boton_menos_lightbox
{
    background-color: rgb(0, 41, 175) !important;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield !important;
}

.sc-ion-alert-md-h
{
    --width: 300px !important;
}

.modal-wrapper
{
    height: 1000px !important;;
    /* height: 92vmin !important; */
}


