
.altura_15
{
    height: 30px;
}

.grid_cabecera
{
    width: 100%;
    color: black !important;

    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-rows: 120px 1fr;
    /* height: 100%; */

}

.grid_cabecera_reserva
{
    background-color: rgb(252, 252, 142);
}

.grid_cabecera_prereserva
{
    background-color: rgb(159, 169, 255);

}



.grid_cabecera_alquilado
{
    background-color: rgb(255, 125, 125);
}



.centradobotones
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 200px 200px 200px;
    /* align-items: center !important; */
    color: black !important;
    height: 100%;

}

.margen-cabecera-arriba
{
    margin-top: 30px;
}

.cabecera-arriba
{
    display: flex;
    flex-direction: column !important;
    flex-flow: row-reverse;
    gap: 5px;
}


.centrado-horizontal
{
    display: flex;
    justify-content: center;
}

.ancho_100
{
    width: 100%;
}

.input_numero_dias
{

    height: 50px !important;
    width: 100px !important;
    margin-top: 1px !important;
    background-color: transparent;

    font-size: 20px !important;
    font-weight: bold !important;
    text-align: center !important;
}

.boton_ligthbox
{
    font-size: 20px !important;
    font-weight: 900 !important;
    border-radius: 10px !important;
    text-transform: uppercase !important;
    color: #e6e6e6 !important;
    

}

.boton_mas_lightbox
{
    
    background-color: rgb(58,114,2) !important;
    
}

.boton_menos_lightbox
{
    background-color: rgb(0, 41, 175) !important;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield !important;
}

.sc-ion-alert-md-h
{
    --width: 300px !important;
}

.alert-wrapper.sc-ion-alert-md
{
    --min-width: 400px;
    /* min-width: 400px; */
}

.modal-wrapper
{
    height: 100% !important;;
    width: 40% !important;

}

.textofallo
{
    color: rgb(186, 0, 0) !important;
}

.texto-alineado-derecha
{
    text-align: right;
}

.boton-eliminar
{
    height: 100px;
    align-items: flex-end;
    
}

.altura100
{
    height: 100px;
}

.modal-timeline > div.modal-wrapper.ion-overlay-wrapper.sc-ion-modal-md
{
    width: 600px !important;
}