
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

label
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    cursor: pointer;

}

.status_select
{
    width: 200px;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}







.centrado_flex
{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.boton_prereserva
{
    background-color: #484848 !important;
    color: white !important;
    
}

.boton_reserva_vuelacar
{
    background-color: #484848 !important;
    color: white !important;
    

}

.fila_botones_scheduler
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    width: 100%;
}

.boton-primero
{

    margin-left: 10px;

}

.boton-ultimo
{
    margin-left: auto;
    background-color: #484848 !important;
    color: white !important;
    margin-right: 30px;
}

.fila_timelines
{
    display: flex;
    flex-direction: column;

}

.titulo-reservas-timeline
{
    background-color: gray;
    color: black;
    border: 2px black solid;
    text-align: center;
    font-weight: bolder;
}

.titulo-subalquileres-timeline
{
    background-color: rgb(60, 60, 60);
    color: rgb(255, 255, 255);
    border: 2px black solid;
    text-align: center;
    font-weight: bolder;
}


.titulo-prereservas-timeline
{
    background-color: #3c4ef2;
    color: rgb(255, 255, 255);
    border: 2px black solid;
    text-align: center;
    font-weight: bolder;
}