
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

label
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    cursor: pointer;

}

.contenedor_botones_lightbox
{
    height: 380px;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.seccion_colaboradores,
.seccion_coches
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
    max-width: 100%;
    flex-wrap: wrap;
    place-content: flex-start;
    
    row-gap: 30px;
    column-gap: 40px;
}

.carseleccionado
{
    height: 50px !important;
    width: 200px !important;
    border: 1px solid black !important;

}


.dhx_cal_light
{
    width: 100% !important;
}

.radiobotones_enlinea
{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    padding: 2px;

}

.texto_radio_boton
{

    font-size: 20px;
    height: 40px;
    width: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -7px;
    white-space: nowrap;

}


.radio_boton
{
    border: 0px !important;
    width: 2em !important;
    height: 2em !important;
    margin-left: 5px;
}


.boton_ligthbox
{
    font-size: 20px;
    font-weight: 900;
    border-radius: 2px;
    text-transform: uppercase;
    border: 1px solid #fff;
    color: #e6e6e6;
    padding: 15px 25px;

}

.boton_mas_lightbox
{
    
    background-color: #3a7202;
    
}

.boton_menos_lightbox
{
    background-color: rgb(0, 41, 175);
}

.input_numero_dias
{

    height: 50px !important;
    width: 100px !important;
    margin-top: 1px !important;
    background-color: transparent;
    color: black !important;
    font-size: 20px !important;
    font-weight: bold !important;
    text-align: center !important;
}

.status_select
{
    width: 200px;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.radiobotones_enlinea:nth-child(1)
{
    background-color: var(--color-persona1);
}

.radiobotones_enlinea:nth-child(2)
{
    background-color: var(--color-persona2);
}

.radiobotones_enlinea:nth-child(3)
{
    background-color: var(--color-persona3);
}

.radiobotones_enlinea:nth-child(4)
{
    background-color: var(--color-persona4);
}

.radiobotones_enlinea:nth-child(5)
{
    background-color: var(--color-persona5);
}
.radiobotones_enlinea:nth-child(6)
{
    background-color: var(--color-persona6);
}

.radiobotones_enlinea:nth-child(7)
{
    background-color: var(--color-persona7);
}

.radiobotones_enlinea:nth-child(8)
{
    background-color: var(--color-persona8);
}

.radiobotones_enlinea:nth-child(9)
{
    background-color: var(--color-persona9);
}



.dhx_section_time select:nth-child(1),
.dhx_section_time select:nth-child(5),
.dhx_section_time select:nth-child(6),
.dhx_section_time select:nth-child(7),
.dhx_section_time select:nth-child(8),
.dhx_section_time select:nth-child(9)
{
    display: none;
}


.seccion_garajes
{
        display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
    max-width: 100%;
    flex-wrap: wrap;
    place-content: flex-start;
    
    row-gap: 30px;
    column-gap: 40px;

}

.texto_nota_reserva
{
    border: 1px solid black !important;
}

.primera_linea
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100% 
}

.centrado_flex
{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.boton_prereserva
{
    background-color: #484848 !important;
    color: white !important;
    
}

.boton_reserva_vuelacar
{
    background-color: #484848 !important;
    color: white !important;
    

}

.fila_botones_scheduler
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}

.fila_timelines
{
    display: flex;
    flex-direction: column;
}