.flex-izquierda
{
    --padding-start: 5px;
    --inner-padding-end: 5px;
    --min-height: 36px;
}


.rct-calendar-header
{
    color: black !important;
}

.scheduler-grid
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.altura-items
{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 36px !important;
    font-size: 20px !important;;
    color: white !important;;
    text-transform: uppercase;
    
}

.color-prereserva
{
    background-color: #3c4ef2 !important;

}

.color-reserva
{
    background-color: rgb(255, 255, 150) !important;

}
.color-black
{
    color: black !important;
}


.custom-group
{
    display: grid !important;
    grid-template-columns: 87px 35px 1fr;
    place-content: flex-start;

}


.anchura_minimo
{
    flex-basis: 73px;
    text-align: center;
}

.anchura_minimo_modelo
{
    text-align: end;
    text-overflow: ellipsis;
    margin-right: 10px;
    
}

.title
{
    font-size: 13px;
    user-select: none;
}

.anchura_vehiculo
{
    width: 50px;
    height: 50px;
}

.item-label
{
    line-height: normal !important;
}

.flex-izquierda
{
    display: flex;
    gap: 100px;
}

.alineacion-matricula
{
    text-align: left;
}
.alineacion-clasevehiculo
{
    text-align: center;
}
.alineacion-modelo
{
    text-align: right;
    width: 100%;
}

.poscion-fija-anadir-reserva
{
    padding: 0px;
    margin-top: -8px;
}

.boton-anadir-prereserva
{
    --background: darkgreen;
    --color: white;
    --border-radius: 10px;
    font-size: 26px;
    width: 141px;
}

.react-calendar-timeline .rct-header-root{
    background-color: #21529a;
}

.tamanoItem
{
    font-size: 15px;
    text-transform: uppercase;

}

.fixed
{
    position: fixed;
}

.espaciado-header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.sub-header
{
    text-align: center;
}



.margen-izquierda-timeline-header
{
    margin-left: 20px;
}

.margen-derecha-timeline-header
{
    margin-right: 20px;
}

.texto-primer-header-timeline
{
    font-size: 20px;
    text-transform: uppercase;
}

.sticky
{
    position: sticky;
    top: 54;
    z-index: 2000;
}

.sticky-header
{
    position: sticky;
    top: 0;
    z-index: 2000;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* .rct-hl-even,
.rct-hl-odd,
.rct-sidebar-row.rct-sidebar-row-odd,
.rct-sidebar-row.rct-sidebar-row-even
{
    height: 32px !important;
}

.rct-dateHeader
{
    width: 36px !important;
} */

/* .rct-calendar-header
{
    position: fixed;
    left: 268px;
    z-index: 100;
    
}

.rct-sidebar
{
    top: 50px;
} */