.rct-calendar-header
{
    color: black !important;
}

.scheduler-grid
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.altura-items
{
    height: 45px !important;
}

.custom-group
{
    display: flex !important;
    flex-direction: row;
    justify-content: flex-start;

}


.anchura_minimo
{
    flex-basis: 73px;
    text-align: center;
}

.anchura_minimo_modelo
{
    text-align: end;
    text-overflow: ellipsis;
    margin-right: 10px;
    
}

.title
{
    font-size: 13px;
    user-select: none;
}

.anchura_vehiculo
{
    width: 50px;
    height: 50px;
}

.item-label
{
    line-height: normal !important;
}

.flex-izquierda
{
    display: flex;
    gap: 100px;
}

.alineacion-matricula
{
    text-align: left;
}
.alineacion-clasevehiculo
{
    text-align: left;
}
.alineacion-modelo
{
    text-align: right;
}

.poscion-fija-anadir-reserva
{
    padding: 0px;
    margin-top: -8px;
}

.boton-anadir-prereserva
{
    --background: darkgreen;
    --color: white;
    --border-radius: 10px;
    font-size: 26px;
    width: 141px;
}

